node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.development
.env.production
.env.local
.DS_Store
.vscode
.idea
dist
build
coverage
.prettierignore
.eslintignore
.eslintrc.js
logs/
drizzle/
